.Content {

    .Headline {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .Banner {
        @media (orientation: portrait) {
            height: unset !important;
        }
        img, source {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (orientation: portrait) {
                height: unset !important;
            }
        }
    }

    .Vorstellung {
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 2;
        @media (orientation: portrait) {
            box-shadow: unset !important;
        }
        .imagebox {
            @media (orientation: portrait) {
                height: unset !important;
            }
        }
        img {
            // object-fit: scale-down;
            // object-position: top;
            height: 100%;
            @media (orientation: portrait) {
                width: 100%;
                margin-bottom: 20px;
                height: unset;
            }
        }
        .Textbox {
            text-align: justify;
            padding-left: 1rem;
            @media (orientation: portrait) {
                padding-left: unset;  
            }
        }
    }

    .Iconrow {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 1rem;
        .Icon i {
            font-size: 70px;
            padding: 2rem;
        }
        .text {
            // text-align: justify;
            line-height: 2;
            @media (orientation: portrait) {
                margin-bottom: 50px;
            }
        }
    }

    .Details {
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 2;
        text-align: justify;
        .row {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        img {
            width: 100%;
        }
        // Sorgt dafür, dass in der mobilen Ansicht, zuerst das Bild und dann der Text angezeigt wird
        .column-picture {
            @media (orientation: portrait) {
                order: 1;    
            }
        }
        // Sorgt dafür, dass in der mobilen Ansicht, zuerst das Bild und dann der Text angezeigt wird
        .column-text {
            @media (orientation: portrait) {
                order: 2;    
            }
        }

    }
}