.Content {

    .Headline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Banner {
        @media (orientation: portrait) {
            height: unset !important;
        }
        img, source {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (orientation: portrait) {
                height: unset !important;
            }
        }
    }

    .Textbox {
        @media (orientation: portrait) {
            text-align: justify !important;
        }   
    }

    .NewImage {
        img.show_only_on_mobile {
            width: 100%;
        }
    }

    .Profile {
        line-height: 2;
        display: flex;
        justify-content: center;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1094px;
            padding: 39px;
            @media (orientation: portrait) {
                box-shadow: unset !important;
                display: unset !important;
                padding: 0 !important;
            }
        }
        .imagebox {
            @media (orientation: portrait) {
                height: unset !important;
            }
        }
        img {
            height: 100%;
            @media (orientation: portrait) {
                width: 100% !important;
                margin-bottom: 20px;
                height: unset;
            }
        }
        .text {
            text-align: justify;
            padding-left: 1rem;
            @media (orientation: portrait) {
                padding-left: unset;  
            }
        }
    }



    .Details {
        line-height: 2;
        @media (orientation: portrait) {
            line-height: 1.5;    
        }
        .row {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        img {
            width: 100%;
        }
        // Sorgt dafür, dass in der mobilen Ansicht, zuerst das Bild und dann der Text angezeigt wird
        .column-picture {
            height: 100%;
            @media (orientation: portrait) {
                order: 1 !important;    
            }
        }
        // Sorgt dafür, dass in der mobilen Ansicht, zuerst das Bild und dann der Text angezeigt wird
        .column-text {
            text-align: justify;
            .card {
                height: 100%;
            }
            @media (orientation: portrait) {
                order: 2 !important;
                .shadow {
                    box-shadow: none !important;
                }
                .card {
                    border: none;
                }
                .card-body {
                    padding: unset;
                }    
            }
        }

    }
}