.FlipCard-Container {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    height: 100%;
    width: 100%;
    
    &:hover .FlipCard {
        transform: rotateY(180deg);
    }

    .FlipCard {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    
        > .frontside, .backside {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            > div {
                height: 100%;
                width: 100%;
            }
        }
    
        .backside {
            transform: rotateY(180deg);
        }
    }   

}

