#LebenslaufPage 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    width: 100%;


    .grid-container {   
        height: 100%;
        width: 100%;
        display: grid;     
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(100px, 100%));
        grid-template-rows: 
            [row1] minmax(100px, auto)
            [row2] minmax(100px, auto)
            [row3] minmax(100px, auto);
        grid-template-areas:    
            "profile profile profile"
            "werdegang werdegang sidebar-1"
            "werdegang werdegang sidebar-2";    
        align-content: baseline;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: unset;
            grid-template-areas:    
                "profile"
                "werdegang"
                "sidebar-1"
                "sidebar-2";
        }


        .grid-item {
            box-shadow: $box-shadow;
            border: 1px solid  $gray-300;
            padding: 1rem;
            display: flex;
            &.profile {
                grid-area: profile;
                justify-content: space-between;
                align-items: flex-start;
                display: grid;
                grid-template-columns: max-content 0.5fr;
                grid-template-areas: 
                    "data img";
                @media (max-width: 768px) {
                    grid-template-areas: "img" 
                                        "data";
                    justify-content: stretch;
                    grid-template-columns: auto;
                }
                .data {
                    grid-area: data;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;  
                    > .grid-row {
                        display: grid;
                        justify-content: stretch;
                        grid-template-columns: minmax(100px, 180px) minmax(0, auto);
                        @media (max-width: 768px) {
                            grid-template-columns: unset;
                            justify-content: center;
                            text-align: center;
                            margin-bottom: 1rem;
                        }
                        &:first-child {
                            margin-top: 1rem;
                        }

                        > .grid-col {
                            padding: 0.5rem;
                            @media (max-width: 768px) {
                                padding: 0;
                            }
                            &:first-child {
                                font-weight: bolder;
                            }
                        }    
                    }
                }
                .img {
                    grid-area: img;  
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    @media (max-width: 768px) {
                        margin: auto;
                    }
                    img {

                        object-fit: cover;
                        border-radius: 100%;
                        height: 300px;
                        width: 300px;
                        
                        margin: auto;
                        @media (max-width: 768px) {
                            height: 200px;
                            width: 200px;
                            
                        }
                    }
                }
            }
            &.werdegang {
                grid-area: werdegang;
                display: flex;
                flex-direction: column;
                .werdegang-scroll-content {
                    padding: 1rem;
                    height: 600px;
                    overflow-y: auto;
                    > .werdegang-item {
                        box-shadow: $box-shadow;
                        padding: 1rem;
                        margin-bottom: 1rem;
                        display: grid;
                        grid-template-columns: 
                            minmax(100px, 200px) minmax(auto, 1fr) 200px;
                        grid-template-areas: 
                            "date company verification"
                            "title title more";
                        @media (max-width: 768px) {
                            grid-template-areas: 
                                "date company"
                                "title title"
                                "verification more";
                            grid-template-columns: unset; 
                        }

                        > div { padding: 0.5rem; }
                        .date {
                            grid-area: date;
                        }
                        .company {
                            grid-area: company;
                        }
                        .title {
                            grid-area: title;
                        }
                        .verification {
                            grid-area: verification;
                            display: flex;
                            justify-content: center;
                        }
                        .more {
                            grid-area: more;
                            display: flex;
                            justify-content: center;
                        }
                        .desc {
                            grid-area: desc;
                        }
                    }
                }
            }
            &.sidebar-right-1 {
                grid-area: sidebar-1;
                display: flex;
                flex-direction: column;
            }
            &.sidebar-right-2 {
                grid-area: sidebar-2;
                display: flex;
                flex-direction: column;
            }
        }

        
    }
}




