#modal-container {
    position:fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform: scale(0);
    z-index:1;

    &.fade {
        transform:scale(1);
        .modal-background {
            animation: fadeIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;        }
        .modal-wrapper {
            opacity:0;
            animation: scaleUp 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;        }
        
        &.out {
            animation: quickScaleDown 2s .5s linear forwards;
            z-index: -1;
            .modal-background {
                animation: fadeOut 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
            .modal-wrapper {
                animation: scaleDown 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;            
            }
            .modal-content {
                height: 0;
            }
        }
    }

    .modal-background {
        background:rgba(0,0,0,.8);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        cursor: pointer;
    }

    .modal-wrapper {
        width: 100%;
        padding: 1rem;
        max-width: 800px;
    }
    .modal {
        padding: 1rem;
        background:white;
        width: 100%;
        border-radius:3px;
        font-weight:300;
        position: relative;
        min-height: 150px;
        max-height: 100%;

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid grey;
            h2 {
                font-size:25px;
                line-height:25px;
                margin-bottom:15px;
            }
            .btn-close {
                font-size: 30px;
                color: black;
                cursor: pointer;
            }
        }
        .modal-content {
            padding-top: 1rem;
            font-size:18px;
            line-height:22px;
        }
    }
}