.Ǹavigation {
    padding: 1rem;

    .nav-item {
        color: unset;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

    h1 {
        font-size: 2em;
        margin: 0;
    }

    a.nav-link {
        text-decoration: none;
        position: relative;
        padding: 0;
        padding-bottom: 0.1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        color: black;
        transition: all 1s;
        &:hover {
            &::after {
                width: 100%
            }
        }
        &.active {
            font-weight: bolder;
        }
        &::after {
            transition: all 250ms ease;
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0.2rem;
            background-color: white;
        }
    }

    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .navbar-container {
            display: flex;
            width: 100%;
        }
    }

    .logo {
        img{
            object-fit: cover;
        }
    }

    .link-container {
        @media (max-width: 991px) {
        justify-content: center !important;
        }
    }

    
    &.absolute {
        position: absolute !important;
        width: 100%;

        .logo {
            position: relative;
            left: 0;
        }

    }
}

