.Navigation {
    .logo {
        img{
            object-fit: cover;
        }
    }
    .navbar-collapse {
        justify-content: flex-end;
        @media (orientation: portrait) {
            justify-content: left;  
        }
    }
}