.Profile {
    display: flex;
    justify-content: center;

    .wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1094px;
        padding: 39px;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        border: 1px solid rgba(0,0,0,.125);
        @media (orientation: portrait) {
            flex-direction: column;
            padding: 18px;
            border: unset;
            box-shadow: none !important;
        }
    }

    img {
        height: 100%;
        object-fit: cover;
    }

    .show_only_on_mobile {
        margin: auto;
        object-fit: cover;
    }

    .text {
        text-align: justify;
        padding-left: 1rem;
        @media (orientation: portrait) {
            padding-left: unset;  
        }
    }
}