.Profile {
    line-height: 2;
    display: flex;
    justify-content: center;

    .wrapper {
        display: flex;
        justify-content: center;
        max-width: 1094px;
        padding: 39px;
        border: 1px solid rgba(0,0,0,.125);
        @media (orientation: portrait) {
            display: unset !important;
            padding: 18px;
        }
    }

    img {
        height: 100%;
    }

    .show_only_on_mobile {
        margin: auto;
        object-fit: contain;
    }

    .text {
        text-align: justify;
        padding-left: 1rem;
        @media (orientation: portrait) {
            padding-left: unset;  
        }
    }
}